* {
  margin: 0;
  padding: 0;
}
.example-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.example-card {
  padding: 10%;
  width: 950px;
}


p {
  color: lawngreen;
}

mat-form-field {
  width: 345px;

}

