<div class="example-container" fxFlex=" 1 2 calc(15em +20px)">
  <form>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Generator wypowiedzeń umów</mat-card-title>
        <mat-card-subtitle>Wypełnij starannie wszystkie pola i wybierz rodzaj umowy. Dokument .PDF zostanie wygenerowany
          automatycznie.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Dbamy o twoje bezpieczeństwo, nie przechowujemy żadnych danych.</p>
      </mat-card-content>
      <mat-card-actions>
        <div fxFlex=" 1 2 calc(15em +20px)">
          <mat-form-field appearance="fill">
            <mat-label>Podaj imię:</mat-label>
            <input matInput placeholder="Imię" [formControl]="termination.firstName" required>
            <mat-error *ngIf="termination.firstName.invalid">{{getErrorMessage(termination.firstName)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Podaj nazwisko:</mat-label>
            <input matInput placeholder="Nazwisko" [formControl]="termination.lastName" required>
            <mat-error *ngIf="termination.lastName.invalid">{{getErrorMessage(termination.lastName)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Podaj adres e-mail:</mat-label>
            <input matInput placeholder="Adres" [formControl]="termination.address" required>
            <mat-error *ngIf="termination.address.invalid">{{getErrorMessage(termination.address)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Podaj adres e-mail:</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="termination.cityWithPostalCode" required>
            <mat-error
              *ngIf="termination.cityWithPostalCode.invalid">{{getErrorMessage(termination.cityWithPostalCode)}}</mat-error>
          </mat-form-field>
          <button type="submit" (click)="onSubmit()" mat-raised-button>Generuj</button>
        </div>
        <div fxFlex=" 1 2 calc(15em +20px)">
          <mat-form-field appearance="fill">
            <mat-label>Nazwa firmy:</mat-label>
            <input matInput placeholder="Nazwa firmy" [formControl]="termination.companyName" required>
            <mat-error *ngIf="termination.companyName.invalid">{{getErrorMessage(termination.companyName)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Adres firmy:</mat-label>
            <input matInput placeholder="Adres firmy" [formControl]="termination.companyAddress" required>
            <mat-error
              *ngIf="termination.companyAddress.invalid">{{getErrorMessage(termination.companyAddress)}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Kod pocztowy i miasto:</mat-label>
            <input matInput placeholder="Kod pocztowy i miasto" [formControl]="termination.companyCityWithPostalCode"
                   required>
            <mat-error
              *ngIf="termination.companyCityWithPostalCode.invalid">{{getErrorMessage(termination.companyCityWithPostalCode)}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
